@using IdentityServer4.Extensions
@{
    string name = null;
    bool? isAdmin = false;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
        isAdmin = Context.User?.IsInRole("Admin");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zuul</title>
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- Stylesheets -->
    
    <link href="~/css/main.83c53345721862b54a60.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="~/">
                    <span class="navbar-brand">
                        <img src="~/img/icon.png" class="icon-banner">
                        IdentityServer4
                    </span>
                </a>
            </div>

            @if (isAdmin.HasValue && isAdmin.Value)
            {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Roles">Roles</a>
                </li>
            </ul>
            }

            @if (!string.IsNullOrWhiteSpace(name))
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- Scripts -->
    
    <script src="~/js/main.83c53345721862b54a60.js"></script>
    
    <!-- End Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
