<p>Welcome to your great Fuse site</p>
<div>
    <a asp-controller="Secure" asp-action="Index">Require auth</a>
</div>
<div>
    <a asp-controller="Secure" asp-action="Admin">Require admin</a>
</div>
<div>
    <a asp-controller="Secure" asp-action="User">Require user</a>
</div>
<div>
<a asp-controller="Account" asp-action="Logout">Logout</a>
</div>