<dt>access token</dt>
<dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>

<dt>refresh token</dt>
<dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>

<dt>id token</dt>
<dd>@await ViewContext.HttpContext.GetTokenAsync("id_token")</dd>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<a asp-controller="Secure" asp-action="CallApiUsingUserAccessToken">Call API Endpoint</a>
<a asp-controller="Secure" asp-action="CallApiUsingUserAccessTokenRequiringAdminRole">Call API Endpoint - Admin</a>
<a asp-controller="Secure" asp-action="CallApiUsingUserAccessTokenRequiringUserRole">Call API Endpoint - User</a>