@model SetPasswordViewModel

<form method="post">
    <input asp-for="UserId" type="hidden" />
    <input asp-for="Password" />
    <input asp-for="ConfirmPassword" />
    <button type="submit">Set Password</button>
</form>